html {
    box-sizing: border-box;
    position: reletive;
    background-color: antiquewhite;
    height: 100vh;
    padding: 0 10px 10px 0px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.gameWindow {
    box-sizing: border-box;
    background-color: oldlace;
    position: absolute;
    width: 98vw;
    height: 86vh;
    border-radius: 6px;
    box-shadow: inset 0 0 15px rgb(0, 0, 0, .3);
    left: 0;
    right: 0;
    margin: auto
}

.nav {
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    box-shadow: 0 0 15px rgb(0, 0, 0, .3);
    border-radius: 6px;
}


.buttons:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .6);
    transform: scale(1.03);
}

/* score counter and level selection */
.score {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    background-color: oldlace;
    display: inline-block;
    padding: 10px;
    box-shadow: inset 0 0 6px rgb(0, 0, 0, .4);
    color: royalblue
}

.score2 {
    color: green;
}

.score3 {
    color: red;
}

.speed {
    color: red;
}

/*--------- Select Level -------*/

#select_level {
    min-width: 300px;
    display: flex;
    justify-content: space-around;
}

.selectP {
    font-family: 'Press Start 2P', cursive;
    font-size: max(1rem, 2vh);
    text-align: center;
    font-weight: bold;
    color: green;
}
.selectP::before {
    content: 'Please ';
    color: royalblue;
}
.selectP::after {

    content: ' Level';
    color: red;
    transform: scale(.8);
}

.level {
    height: 80px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
    box-shadow: 0 0 15px rgb(0, 0, 0, .3);
    border-radius: 6px;
    background-color: antiquewhite;
}

@media (hover: hover) {
    .buttons:hover {
        box-shadow: 0 0 20px rgb(0, 0, 0, .3);
        cursor: pointer;
        transform: scale(1.03);
    }
}

.l1 {
    transform: rotate(-20deg) translate(-10px, -5px);
    background-color: green;
    z-index: 1;
}

.l2 {
    transform: rotate(45deg) scale(1.3) translate(10px, 10px);
    background-color: red;
    z-index: 2;
}

.l3 {
    transform: rotate(-30deg) scale(1.4) translate(0px, -15px);
    background-color: royalblue;
}

.l1,
.l2,
.l3 {
    width: 20px;
    height: 20px
}

/* --------lives remaining -----------*/
#lives_remailing {
    display: flex;
}

.life {
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .4);
    display: block;
    margin: 3px;
    height: 2rem;
    width: 2rem;
}

/* -------target divs ----------*/

.target {
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);
    border-radius: 3px;
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}

.add_life_div {
    margin: auto;
    height: 6px;
    width: 95%;
    background-color: oldlace;
    border-radius: 2px;
    border: #999 1px solid;
}

#add_life {
    height: 6px;
    width: 100%;
}

/*---------------- Start The game----------------- */
.start_game {
    box-sizing: border-box;
    height: 98vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: inherit;
    flex-direction: column;

    background-color: oldlace;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;

    padding: 8% 0px 2% 0px;
}

.start_heading {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: max(1.5rem, 4vw);
    color: red;
    margin: auto;
    text-align: center;
}

.start_heading::after {
    position: absolute;
    content: ' Game';
    color: royalblue;
    transform: scale(.6);
}

.start_heading::before {
    position: absolute;
    content: 'Start ';
    color: green;
    transform: scale(.6)  translate(-150%);
}

/*---------------- game over----------------- */

.game-over {
    display: none;
    flex-direction: column;

    background-color: oldlace;
    justify-content: space-around;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;
}

.game_over_title {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: max(2rem, 4vw);
    color: maroon;
    margin: auto;
    text-align: center;
}

.game_over_block {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.game_over_btn2 {
    height: 100px;
    align-self: center;
}

.game_over_btn1 {
    margin: 50px auto;
}


/* ------------Contact form------------- */
.contact_window {
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.form {
    background-color: antiquewhite;
    box-sizing: border-box;
    padding: 6px;
    max-width: 300px;
    border-radius: 6px;
}

.submit_alert {
    box-sizing: border-box;
    text-align: center;
    color: green;
    font-weight: bold;
    width: 300px;
    padding: 26px 12px;
    background-color: antiquewhite;
}

.spacer {
    height: 100px;
}

.contact_window input,
.contact_window textarea,
.contact_window button {
    letter-spacing: 1px;
    border: none;
    box-shadow: inset 0 0 6px rgb(0, 0, 0, .4);
    background-color: oldlace;
    border-radius: 3px;
    padding: 6px;
    margin: 6px 0;
    box-sizing: border-box;
    min-width: 288px;
    max-width: 288px;
    max-height: 300px;
}

.contact_window button {
    box-shadow: 0 0 6px rgb(0, 0, 0, .6);
    color: l;
    color: oldlace;
    background-color: green;
    transition-duration: 0.1s;
}

.contact_window button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgb(0, 0, 0, .6);
}

.contact_title {
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: green;
    text-align: center;
}

.contact_button {
    padding: 6px 10px;
    width: 270px;
    text-align: center;
}

.contact_play_new {
    height: 100px;
    align-self: center;
}


@media only screen and (max-width: 400px) {
    .speed, .score1, .score2, .score3{
        font-size: .8rem;
    }
    .score3 {
        display: none;
    }
}