html {
    position: reletive;
    background-color: #d8d8d8;
    padding: 0 10px 10px 10px;
}
.gameWindow {

    background-color: lavenderblush;
    position: absolute;
    width: 95vw;
    height: 85vh;
    border: #333 1px solid;
    left: 0;
    right: 0;
    margin: auto
}

.nav {
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* score counter and level selection */
.score, .level {
    background-color: lavenderblush;
    border-radius: 6px;
    border: #333 1px solid;
    display: inline-block;
    padding: 3px 10px;
}
/* lives remaining */
.life {
    height: 2rem;
    width: 2rem;
    border-radius: 6px;
    border: #333 1px solid;
    display: inline-block;
}

#life1 {
    background-color: indigo;
}

#life2 {
    background-color: red;
}

#life3 {
    background-color: royalblue;
}
/* target divs */

.target {
    position: absolute;
    width: 50px;
    height: 50px;
}

#target1 {
    display: block;
    background-color: royalblue;  
}

#target2 {
    display: block;
    background-color: red;  
}

#target3 {
    display: block;
    background-color: indigo;  
}