html {
    position: reletive;
    background-color: #d8d8d8;
    padding: 0 10px 10px 10px;
    padding: 0;
    margin: 0;
}

.gameWindow {
    background-color: lavenderblush;
    position: absolute;
    width: 95vw;
    height: 85vh;
    border: #333 1px solid;
    left: 0;
    right: 0;
    margin: auto
}

.nav {
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border: solid 1px #333;
    border-radius: 6px;
}

.buttons { 
    padding: 6px;  
    background-color: seashell;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .6);
    transition: 200ms; 
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, .6);
    transform: scale(1.03);
}

/* score counter and level selection */
.score {
    background-color: lavenderblush;
    display: inline-block;
    padding: 3px 10px;
}

/* Select Level */

#select_level {
    display: flex;
    justify-content: space-around;
}

.sellectP {
    font-size: 2rem;
    text-align: center;
    color: lavenderblush;
}
.level {
    height: 60px;
    width: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 200ms;
}

.level:hover {
        transform: scale(1.06);
}

.level:hover .l1, .level:hover .l2, .level:hover .l3 {
    cursor: pointer;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, .6);

}

.l1,
.l2,
.l3 {
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .6);
    width: 20px;
    height: 20px
}
.l1 {
    transform: rotate(20deg) ;
    background-color: indigo;
    z-index: 1;
}
.l2 {
    transform: rotate(45deg) scale(1.3) translate(10px, 10px);
    background-color: red;
    z-index: 2;
}
.l3 {
    transform: rotate(-30deg)  scale(1.4) translate(5px, -5px);
    background-color: royalblue;
}

/* lives remaining */
#lives_remailing {
    display: flex;
}

.life {
    display: block;
    margin: 3px;
    height: 2rem;
    width: 2rem;
}

/* target divs */

.target {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}

.add_life_div {
    margin: auto;
    height: 6px;
    width: 95%;
    background-color: lavenderblush;
    border-radius: 2px;
    border: #333 1px solid;
}

#add_life {
    height: 6px;
    width: 100%;
    /* background: linear-gradient(to right, indigo 20%, red, royalblue 80%); */
}

/*---------------- Start The game----------------- */
.start_game {
    display: flex;
    background-color:  rgb(139, 139, 139);
}

/*---------------- game over----------------- */

.game-over {
    display: none;
    background-color: maroon;
}

.start_stop_window {
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.game_over_title,
.start_heading {
    font-size: max(6vw, 3rem, 2rem);
    color: mintcream;
    margin: auto;
    text-align: center;
}

#new_game_btn {
    color: maroon;
    width: fit-content;
    margin: auto;

}

