html {
    position: reletive;
    background-color: #d8d8d8;
    padding: 0 10px 10px 10px;
    padding: 0;
    margin: 0;
}
.gameWindow {
    background-color: lavenderblush;
    position: absolute;
    width: 95vw;
    height: 85vh;
    border: #333 1px solid;
    left: 0;
    right: 0;
    margin: auto
}

.nav {
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* score counter and level selection */
.score, .level {
    background-color: lavenderblush;
    border-radius: 6px;
    border: #333 1px solid;
    display: inline-block;
    padding: 3px 10px;
}
/* lives remaining */
#lives_remailing {
    display: flex;
}

.life {
    display: block;
    margin: 3px;
    height: 2rem;
    width: 2rem;
    border-radius: 6px;
    border: #333 1px solid;
}

/* target divs */

.target {
    position: absolute;
    width: 50px;
    height: 50px;
}

#target1 {
    display: none;
}

#target2 {
    display: none;
}

#target3 {
    display: none;
}

.add_life_div {
    margin: auto;
    height: 6px;
    width: 95%;
    background-color: lavenderblush;
    border-radius: 2px;
    border: #333 1px solid;
}

#add_life {
    height: 6px;
    width: 100%;
    background: linear-gradient(to right, indigo 20%, red,  royalblue 80%); 
}

/*---------------- game over----------------- */

.game-over {
    display: none;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: maroon;
}

.game_over_title {
    font-size: max(6vw, 3rem, 2rem);
    color: mintcream;
    margin: auto ;
    text-align: center;
}

#new_game_btn {
    border: solid 1px #333;
    padding: 3px 6px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px black;
    background-color: seashell;
    color: maroon;
    width: fit-content;
    margin: auto;

}